<!-- hello_world.html -->

<!DOCTYPE html>
<html>
    <head>
        <title>行為序列分析</title>
        <style>
            body {
               background-color: lightyellow;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
    </head>
    <body>
        <!--
        {% load staticfiles %}
        <img src="{% static 'images/1.jpg' %}"" alt="img">
        -->
        <h1>行為序列分析</h1>
        <em>{{ current_time }}</em><br>
        <a href="../BSA_SQLData">看資料</a> | 
        <a href="../BSA_BList">看行為佇列</a> | 
        <a href="../BSA_Sample" download="sample.csv">Download Sample</a>
        <br>
        <form action="#" method="post">{% csrf_token %}
            <textarea rows="10" cols="100" name="content">{{ csv_data }}</textarea>
            行為種類數量為：<input type="text" name="NumOfBS" value="{{ NumOfBS }}"></input>
            指定組別(-1為不指定)：<input type="text" name="Group" value="{{ Group }}"></input>
          <input type="submit" value="計算行為序列"></input>
        </form>
        
        <textarea rows="10" cols="100" >{{ array_BSA }}</textarea>
        
    </body>
</html>
